.p-Home.Flex1 {
display: flex;
height: 475.533px;
justify-content: center;
}
.p-Home.Flex403 {
display: flex;
height: ;
width: 40%;
position: static;
background-color: #FF7629;
}
.p-Home.Flex404 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: 20px;
padding-top: 100px;
padding-left: 120px;
font-family: DM Sans;
}
.p-Home.Flex405 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex2 {
display: flex;
height: 157px;
justify-content: center;
flex-direction: column;
align-items: center;
row-gap: 20px;
padding-top: 30px;
}
.p-Home.Flex399 {
display: flex;
column-gap: 60px;
height: 50px;
}
.p-Home.Flex3 {
display: flex;
height: ;
justify-content: center;
align-items: center;
flex-direction: column;
align-content: space-between;
padding-top: 150px;
row-gap: 40px;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
padding-bottom: 100px;
}
.p-Home.Flex8 {
display: flex;
height: ;
width: ;
align-items: center;
justify-content: space-between;
column-gap: 30px;
}
.p-Home.Flex390 {
display: flex;
flex-direction: column;
row-gap: 20px;
height: ;
align-items: center;
justify-content: flex-start;
padding-top: 40px;
padding-bottom: 40px;
box-sizing: border-box;
border-color: #cecece;
border-style: solid;
border-width: 3px;
border-radius: 15px;
column-gap: 30px;
padding-right: 10px;
padding-left: 10px;
}
.p-Home.Flex396 {
display: flex;
flex-direction: column;
row-gap: 20px;
height: ;
align-items: center;
justify-content: flex-start;
padding-top: 40px;
padding-bottom: 40px;
box-sizing: border-box;
border-color: #cecece;
border-style: solid;
border-width: 3px;
border-radius: 15px;
column-gap: 30px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex397 {
display: flex;
flex-direction: column;
row-gap: 20px;
height: ;
align-items: center;
justify-content: flex-start;
padding-top: 40px;
padding-bottom: 40px;
box-sizing: border-box;
border-color: #cecece;
border-style: solid;
border-width: 3px;
border-radius: 15px;
column-gap: 30px;
padding-right: 10px;
padding-left: 10px;
}
.p-Home.Flex398 {
display: flex;
flex-direction: column;
row-gap: 20px;
height: ;
align-items: center;
justify-content: flex-start;
padding-top: 40px;
padding-bottom: 40px;
box-sizing: border-box;
border-color: #cecece;
border-style: solid;
border-width: 3px;
border-radius: 15px;
column-gap: 30px;
padding-right: 10px;
padding-left: 10px;
}
.p-Home.Flex9 {
display: flex;
width: ;
align-items: center;
justify-content: center;
align-content: stretch;
column-gap: 30px;
}
.p-Home.Flex14 {
display: flex;
height: ;
align-items: stretch;
justify-content: space-between;
position: static;
background-color: #FFF9F3;
align-self: auto;
padding-top: 150px;
padding-left: 105px;
column-gap: ;
padding-right: ;
padding-bottom: 200px;
font-family: DM Sans;
flex-direction: row;
}
.p-Home.Flex360 {
display: flex;
width: ;
height: ;
column-gap: 100px;
justify-content: center;
align-items: stretch;
flex-direction: row;
}
.p-Home.Flex367 {
display: flex;
padding-top: 100px;
flex-direction: column;
row-gap: 25px;
width: 100%;
}
.p-Home.Flex366 {
display: flex;
justify-content: flex-start;
align-items: center;
column-gap: 30px;
}
.p-Home.Flex370 {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
position: relative;
}
.p-Home.Flex371 {
display: flex;
position: absolute;
top: 350px;
left: 150px;
background-color: #ffffff;
width: 420px;
height: ;
padding-left: 40px;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
border-radius: 25px;
flex-direction: column;
row-gap: 20px;
box-sizing: border-box;
font-size: 16px;
color: #8d8d8d;
}
.p-Home.Flex374 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex377 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex378 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex16 {
display: flex;
height: ;
flex-direction: column;
justify-content: flex-start;
align-items: center;
align-content: stretch;
padding-top: 150px;
row-gap: 20px;
}
.p-Home.Flex17 {
display: flex;
height: 1065px;
width: 1107px;
flex-direction: column;
align-items: center;
font-family: DM Sans;
}
.p-Home.Flex18 {
display: flex;
height: 402px;
width: 1065px;
row-gap: 25px;
}
.p-Home.Flex214 {
display: flex;
width: 100%;
height: 100%;
column-gap: 20px;
}
.p-Home.Flex251 {
display: flex;
flex-direction: column;
height: 100%;
position: relative;
align-items: center;
row-gap: 10px;
justify-content: center;
}
.p-Home.Flex267 {
display: flex;
position: absolute;
top: 10px;
right: 10px;
height: ;
justify-content: center;
align-items: center;
background-color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 15px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex342 {
display: flex;
flex-direction: column;
height: 100%;
position: relative;
align-items: center;
row-gap: 10px;
justify-content: center;
}
.p-Home.Flex341 {
display: flex;
position: absolute;
top: 10px;
right: 10px;
height: ;
justify-content: center;
align-items: center;
background-color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 15px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex344 {
display: flex;
flex-direction: column;
height: 100%;
position: relative;
align-items: center;
row-gap: 10px;
justify-content: center;
}
.p-Home.Flex343 {
display: flex;
position: absolute;
top: 10px;
right: 10px;
height: ;
justify-content: center;
align-items: center;
background-color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 15px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex346 {
display: flex;
flex-direction: column;
height: 100%;
position: relative;
align-items: center;
row-gap: 10px;
justify-content: center;
}
.p-Home.Flex345 {
display: flex;
position: absolute;
top: 10px;
right: 10px;
height: ;
justify-content: center;
align-items: center;
background-color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 15px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex20 {
display: flex;
height: 243px;
width: 100%;
padding-bottom: 200px;
align-items: center;
justify-content: center;
column-gap: 30px;
margin-top: 25px;
}
.p-Home.Flex19 {
display: flex;
width: 1065px;
height: 402px;
margin-top: 75px;
column-gap: 20px;
}
.p-Home.Flex350 {
display: flex;
flex-direction: column;
height: 100%;
position: relative;
align-items: center;
row-gap: 10px;
justify-content: center;
}
.p-Home.Flex349 {
display: flex;
position: absolute;
top: 10px;
right: 10px;
height: ;
justify-content: center;
align-items: center;
background-color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 15px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex354 {
display: flex;
flex-direction: column;
height: 100%;
position: relative;
align-items: center;
row-gap: 10px;
justify-content: center;
}
.p-Home.Flex353 {
display: flex;
position: absolute;
top: 10px;
right: 10px;
height: ;
justify-content: center;
align-items: center;
background-color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 15px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex356 {
display: flex;
flex-direction: column;
height: 100%;
position: relative;
align-items: center;
row-gap: 10px;
justify-content: center;
}
.p-Home.Flex355 {
display: flex;
position: absolute;
top: 10px;
right: 10px;
height: ;
justify-content: center;
align-items: center;
background-color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 15px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex358 {
display: flex;
flex-direction: column;
height: 100%;
position: relative;
align-items: center;
row-gap: 10px;
justify-content: center;
}
.p-Home.Flex357 {
display: flex;
position: absolute;
top: 10px;
right: 10px;
height: ;
justify-content: center;
align-items: center;
background-color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 15px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex21 {
display: flex;
height: 1142px;
width: 100%;
justify-content: flex-start;
align-items: stretch;
background-color: #ff7629;
}
.p-Home.Flex211 {
display: flex;
align-items: flex-start;
justify-content: center;
padding-top: 90px;
padding-bottom: 100px;
padding-left: 150px;
box-sizing: border-box;
row-gap: 33px;
background-color: #FF7629;
flex-direction: column;
}
.p-Home.Flex213 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex212 {
display: flex;
}
.p-Home.Flex23 {
display: flex;
width: ;
height: ;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 30px;
padding-top: 150px;
padding-bottom: 150px;
font-family: Work Sans;
}
.p-Home.Flex24 {
display: flex;
width: ;
height: ;
align-items: center;
justify-content: center;
flex-direction: row;
column-gap: 50px;
}
.p-Home.Flex26 {
display: flex;
width: 50%;
height: ;
flex-direction: column;
padding-top: 50px;
padding-right: 50px;
padding-left: 50px;
border-radius: 25px;
border-style: solid;
border-color: #d5d5d5;
row-gap: 20px;
max-height: ;
max-width: ;
padding-bottom: 40px;
box-sizing: content-box;
justify-content: flex-start;
align-items: stretch;
}
.p-Home.Flex205 {
display: flex;
}
.p-Home.Flex206 {
display: flex;
column-gap: 25px;
}
.p-Home.Flex207 {
display: flex;
flex-direction: column;
}
.p-Home.Flex208 {
display: flex;
background-color: #ff7629;
align-items: center;
justify-content: center;
border-radius: 50px;
}
.p-Home.Flex209 {
display: flex;
background-color: #ff7629;
align-items: center;
justify-content: center;
border-width: ;
border-radius: 50px;
}
.p-Home.Flex25 {
display: flex;
flex-direction: row;
height: ;
width: ;
margin-top: 50px;
justify-content: center;
align-items: center;
column-gap: 50px;
}
.p-Home.Flex27 {
display: flex;
height: ;
width: ;
flex-direction: column;
align-items: center;
justify-content: flex-start;
background-color: #fff7ed;
padding-top: 150px;
padding-left: 100px;
padding-right: 100px;
box-sizing: border-box;
font-family: DM Sans;
color: #737373;
font-weight: 500;
padding-bottom: 100px;
}
.p-Home.Flex28 {
display: flex;
height: ;
width: 100%;
align-items: center;
justify-content: space-between;
padding-bottom: 30px;
}
.p-Home.Flex178 {
display: flex;
height: 58px;
align-items: center;
justify-content: center;
background-color: #ffffff;
border-radius: 25px;
width: 164px;
}
.p-Home.Flex29 {
display: flex;
width: 110%;
align-items: stretch;
justify-content: center;
flex-direction: row;
row-gap: ;
align-content: stretch;
column-gap: 30px;
}
.p-Home.Flex191 {
display: flex;
width: 60%;
height: 847.78px;
flex-direction: column;
row-gap: ;
align-content: stretch;
justify-content: flex-start;
margin-left: ;
column-gap: ;
background-color: #fff7ed;
align-items: stretch;
}
.p-Home.Flex194 {
display: flex;
height: 847.78px;
column-gap: 10px;
flex-direction: column;
row-gap: 30px;
border-radius: ;
width: ;
}
.p-Home.Flex436 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;
}
.p-Home.Flex438 {
display: flex;
width: 40%;
row-gap: 10px;
padding-bottom: 20px;
flex-direction: column;
background-color: #ffffff;
border-radius: 35px;
}
.p-Home.Flex451 {
display: flex;
width: 40%;
row-gap: 10px;
padding-bottom: 20px;
flex-direction: column;
background-color: #ffffff;
border-radius: 35px;
}
.p-Home.Flex454 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;
}
.p-Home.Flex452 {
display: flex;
width: 40%;
row-gap: 10px;
padding-bottom: 20px;
flex-direction: column;
background-color: #ffffff;
border-radius: 35px;
}
.p-Home.Flex453 {
display: flex;
width: 40%;
row-gap: 10px;
padding-bottom: 20px;
flex-direction: column;
background-color: #ffffff;
border-radius: 35px;
}
.p-Home.Flex31 {
display: flex;
width: 760px;
height: ;
flex-direction: column;
row-gap: 20px;
background-color: #ffffff;
justify-content: flex-start;
border-radius: 35px;
margin-left: 100px;
padding-bottom: 150px;
margin-bottom: ;
}
.p-Home.Flex32 {
display: flex;
height: 953px;
position: relative;
width: 100%;
}
.p-Home.Flex124 {
display: flex;
width: 50%;
background-color: #ff7629;
position: static;
align-items: center;
justify-content: flex-start;
}
.p-Home.Flex164 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
width: 400px;
height: 65%;
margin-right: ;
right: 100px;
text-align: left;
position: relative;
bottom: 80px;
padding-top: 80px;
padding-right: 50px;
padding-bottom: 30px;
padding-left: 50px;
border-radius: 25px;
background-color: #ffffff;
border-width: 3px;
border-style: solid;
border-color: #d9d4d4;
row-gap: 15px;
font-family: DM Sans;
font-weight: 500;
margin-top: 100px;
}
.p-Home.Flex165 {
display: flex;
column-gap: 20px;
width: 424px;
height: ;
}
.p-Home.Flex169 {
display: flex;
height: 100px;
width: 50%;
flex-direction: column;
align-items: stretch;
justify-content: center;
font-family: DM Sans;
row-gap: 20px;
}
.p-Home.Flex170 {
display: flex;
height: 100px;
width: 50%;
flex-direction: column;
align-items: stretch;
justify-content: center;
row-gap: 20px;
}
.p-Home.Flex177 {
display: flex;
row-gap: 15px;
flex-direction: column;
}
.p-Home.Flex423 {
display: flex;
column-gap: 20px;
width: 424px;
height: ;
}
.p-Home.Flex421 {
display: flex;
height: 100px;
width: 50%;
flex-direction: column;
align-items: stretch;
justify-content: center;
row-gap: 20px;
}
.p-Home.Flex422 {
display: flex;
height: 100px;
width: 50%;
flex-direction: column;
align-items: stretch;
justify-content: center;
font-family: DM Sans;
row-gap: 20px;
}
.p-Home.Flex426 {
display: flex;
column-gap: 20px;
width: 424px;
height: ;
}
.p-Home.Flex424 {
display: flex;
height: 100px;
width: 50%;
flex-direction: column;
align-items: stretch;
justify-content: center;
row-gap: 20px;
}
.p-Home.Flex425 {
display: flex;
height: 100px;
width: 50%;
flex-direction: column;
align-items: stretch;
justify-content: center;
font-family: DM Sans;
row-gap: 20px;
}
.p-Home.Flex33 {
display: flex;
width: 50%;
flex-direction: column;
align-items: flex-start;
justify-content: center;
margin-left: ;
padding-left: 150px;
row-gap: 20px;
position: static;
font-family: DM Sans;
font-weight: 500;
color: #727171;
padding-bottom: 10px;
}
.p-Home.Flex51 {
display: flex;
width: 386px;
height: 42px;
justify-content: flex-start;
align-items: center;
column-gap: 25px;
}
.p-Home.Flex54 {
display: flex;
width: 386px;
height: 42px;
align-items: center;
column-gap: 25px;
}
.p-Home.Flex55 {
display: flex;
width: 386px;
height: 42px;
align-items: center;
justify-content: flex-start;
column-gap: 25px;
}
.p-Home.Flex35 {
display: flex;
height: ;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 10px;
column-gap: ;
background-color: #FFF9F3;
padding-top: 150px;
padding-right: 100px;
padding-bottom: 100px;
padding-left: 150px;
}
.p-Home.Flex36 {
display: flex;
height: ;
width: 100%;
justify-content: space-between;
align-items: center;
padding-bottom: 30px;
}
.p-Home.Flex37 {
display: flex;
width: ;
height: ;
column-gap: 30px;
align-items: center;
justify-content: center;
}
.p-Home.Flex420 {
display: flex;
height: 356px;
width: 310px;
flex-direction: column;
align-items: flex-start;
justify-content: center;
margin-right: 50px;
row-gap: 20px;
column-gap: ;
}
.p-Home.Flex419 {
display: flex;
width: 310px;
height: 310px;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex417 {
display: flex;
width: 310px;
height: 145px;
column-gap: 20px;
}
.p-Home.Flex418 {
display: flex;
flex-direction: row;
width: 310px;
height: 145px;
column-gap: 20px;
}
.p-Home.Flex41 {
display: flex;
align-items: stretch;
justify-content: space-between;
height: ;
font-family: DM Sans;
column-gap: 40px;
padding-top: 100px;
padding-right: 150px;
padding-bottom: 50px;
padding-left: 150px;
}
.p-Home.Flex42 {
display: flex;
height: ;
width: 40%;
flex-direction: column;
margin-left: 50px;
row-gap: 15px;
align-items: stretch;
justify-content: flex-start;
}
.p-Home.Flex50 {
display: flex;
width: 100%;
height: 30px;
column-gap: 10px;
}
.p-Home.Flex43 {
display: flex;
width: ;
height: ;
column-gap: 20px;
}
.p-Home.Flex49 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: 10px;
background-color: #ffffff;
color: #7f7c7c;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Flex48 {
display: flex;
width: 200px;
flex-direction: column;
row-gap: 10px;
color: #7f7c7c;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Flex44 {
display: flex;
height: 356px;
width: 310px;
flex-direction: column;
align-items: flex-start;
justify-content: center;
margin-right: 50px;
row-gap: 20px;
column-gap: ;
}
.p-Home.Flex410 {
display: flex;
width: 310px;
height: 310px;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex415 {
display: flex;
flex-direction: row;
width: 310px;
height: 145px;
column-gap: 20px;
}
.p-Home.Flex416 {
display: flex;
width: 310px;
height: 145px;
column-gap: 20px;
}
.p-Home.Flex483 {
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 30px;
column-gap: 50px;
margin-bottom: ;
align-items: center;
}
.p-Home.Flex484 {
display: flex;
width: ;
height: ;
max-width: ;
max-height: 100px;
align-items: center;
justify-content: center;
column-gap: 30px;
font-size: 18px;
font-family: DM Sans;
font-weight: 500;
color: #696969;
}
.p-Home.Flex485 {
display: flex;
width: ;
column-gap: 30px;
}
.p-Home.Image1 {
position: absolute;
float: none;
height: 400px;
margin-right: ;
margin-top: ;
border-width: px;
border-color: #ffffff;
box-sizing: content-box;
border-style: none;
border-top-style: none;
border-top-width: ;
border-top-color: transparent;
border-radius: 50px;
right: 200px;
padding-right: 40px;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 40px;
}
.p-Home.TextBox430 {
font-family: DM Sans;
font-size: 50px;
font-weight: 700;
}
.p-Home.TextBox431 {
font-size: 50px;
font-family: DM Sans;
font-weight: 700;
color: #FF7629;
}
.p-Home.TextBox432 {
width: 70%;
}
.p-Home.Button41 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
align-self: center;
font-family: DM Sans;
}
.p-Home.Button42 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
align-self: center;
font-family: DM Sans;
}
.p-Home.TextBox1 {
align-self: center;
font-family: DM Sans;
font-size: 21px;
font-weight: 700;
}
.p-Home.Image158 {
height: 34px;
}
.p-Home.Image159 {
height: 34px;
}
.p-Home.Image160 {
height: 34px;
}
.p-Home.Image161 {
height: 34px;
}
.p-Home.TextBox2 {
font-family: DM Sans;
font-size: 25px;
font-weight: 700;
}
.p-Home.TextBox397 {
color: #FF7629;
}
.p-Home.TextBox398 {
width: 200px;
text-align: center;
color: #676767;
}
.p-Home.TextBox399 {
font-family: DM Sans;
font-size: 20px;
font-weight: 700;
}
.p-Home.Image149 {
width: 114px;
height: 114px;
}
.p-Home.Image155 {
width: 114px;
height: 114px;
}
.p-Home.TextBox415 {
font-family: DM Sans;
font-size: 20px;
font-weight: 700;
}
.p-Home.TextBox416 {
width: 200px;
text-align: center;
color: #676767;
}
.p-Home.TextBox417 {
color: #FF7629;
}
.p-Home.Image156 {
width: 114px;
height: 114px;
}
.p-Home.TextBox418 {
font-family: DM Sans;
font-size: 20px;
font-weight: 700;
}
.p-Home.TextBox419 {
width: 200px;
text-align: center;
color: #676767;
}
.p-Home.TextBox420 {
color: #FF7629;
}
.p-Home.Image157 {
width: 114px;
height: 114px;
}
.p-Home.TextBox421 {
font-family: DM Sans;
font-size: 20px;
font-weight: 700;
}
.p-Home.TextBox422 {
width: 200px;
text-align: center;
color: #676767;
}
.p-Home.TextBox423 {
color: #FF7629;
}
.p-Home.Button35 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button36 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #D5D5D5;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox354 {
width: 80%;
color: #8d8d8d;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox355 {
width: 80%;
color: #8d8d8d;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox356 {
font-size: 32px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Button31 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button32 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
align-self: center;
font-family: DM Sans;
}
.p-Home.Image134 {
width: 460px;
border-radius: 30px;
}
.p-Home.TextBox360 {
color: #000000;
font-size: 20px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image135 {
;
}
.p-Home.TextBox361 {
width: 50%;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox362 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image136 {
;
}
.p-Home.TextBox363 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image137 {
;
}
.p-Home.TextBox3 {
color: #727272;
font-family: DM Sans;
font-weight: 500;
padding-bottom: ;
margin-bottom: 30px;
}
.p-Home.TextBox4 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox191 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Image87 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox221 {
text-align: center;
width: 250px;
height: 50px;
color: #686868;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox213 {
align-self: center;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox319 {
text-align: center;
width: 250px;
height: 50px;
color: #686868;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image125 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox320 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox318 {
align-self: center;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox322 {
text-align: center;
width: 250px;
height: 50px;
color: #686868;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image126 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox323 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox321 {
align-self: center;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox325 {
text-align: center;
width: 250px;
height: 50px;
color: #686868;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image127 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox326 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox324 {
align-self: center;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Button23 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button24 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #D5D5D5;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox331 {
text-align: center;
width: 250px;
height: 50px;
color: #686868;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image129 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox332 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox330 {
align-self: center;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox337 {
text-align: center;
width: 250px;
height: 50px;
color: #686868;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image131 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox338 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox336 {
align-self: center;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox340 {
text-align: center;
width: 250px;
height: 50px;
color: #686868;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image132 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox341 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox339 {
align-self: center;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox343 {
text-align: center;
width: 250px;
height: 50px;
color: #686868;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image133 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox344 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox342 {
align-self: center;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox135 {
max-width: 80%;
align-self: flex-start;
color: #ffffff;
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
}
.p-Home.TextBox136 {
max-width: 80%;
font-size: 38px;
color: #ffffff;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Button18 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
align-self: center;
font-family: DM Sans;
}
.p-Home.Button20 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
align-self: center;
font-family: DM Sans;
}
.p-Home.Image65 {
width: 100%;
}
.p-Home.TextBox5 {
font-size: 32px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox6 {
;
}
.p-Home.TextBox129 {
font-size: 24px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox130 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #716f6f;
}
.p-Home.Image50 {
width: 30px;
height: 30px;
}
.p-Home.Image57 {
width: 30px;
height: 30px;
}
.p-Home.Image58 {
width: 30px;
height: 30px;
}
.p-Home.Image59 {
width: 30px;
height: 30px;
}
.p-Home.Image60 {
width: 30px;
height: 30px;
}
.p-Home.Image56 {
width: 50px;
height: 50px;
border-radius: 25px;
}
.p-Home.TextBox131 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox132 {
color: #595858;
}
.p-Home.Image63 {
width: 50px;
height: 50px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
}
.p-Home.Image64 {
width: 50px;
height: 50px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
}
.p-Home.Button9 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button11 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #D5D5D5;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox101 {
font-family: DM Sans;
font-size: 32px;
font-weight: 700;
color: #000000;
}
.p-Home.TextBox103 {
color: #000000;
font-family: DM Sans;
font-weight: 400;
}
.p-Home.Image199 {
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox444 {
padding-top: 20px;
padding-right: 10px;
padding-left: 20px;
}
.p-Home.TextBox445 {
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
color: #000000;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox454 {
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
color: #000000;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox455 {
padding-top: 20px;
padding-right: 10px;
padding-left: 20px;
}
.p-Home.Image204 {
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.Image205 {
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox456 {
padding-top: 20px;
padding-right: 10px;
padding-left: 20px;
}
.p-Home.TextBox457 {
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
color: #000000;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox458 {
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
color: #000000;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox459 {
padding-top: 20px;
padding-right: 10px;
padding-left: 20px;
}
.p-Home.Image206 {
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.Image39 {
width: 100%;
height: ;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox104 {
padding-top: 20px;
padding-right: 10px;
padding-left: 20px;
}
.p-Home.TextBox105 {
color: #000000;
font-family: DM Sans;
font-size: 26px;
font-weight: 700;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox106 {
font-size: 15px;
padding-left: 20px;
padding-bottom: 30px;
padding-right: 10px;
}
.p-Home.Button8 {
color: #fff;
background-color: #ff7629;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 20px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
align-self: flex-start;
height: 41px;
width: 160px;
word-wrap: normal;
line-height: ;
font-family: DM Sans;
margin-top: ;
}
.p-Home.TextBox92 {
font-size: 18px;
}
.p-Home.Input56 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 16px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 40px;
}
.p-Home.TextBox93 {
font-size: 18px;
}
.p-Home.Input57 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 0040px;
}
.p-Home.TextBox100 {
font-size: 18px;
}
.p-Home.Input64 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
width: 424px;
height: 180px;
overflow: scroll;
text-align: center;
}
.p-Home.Input68 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 0040px;
}
.p-Home.TextBox434 {
font-size: 18px;
}
.p-Home.Input69 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 16px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 40px;
}
.p-Home.TextBox435 {
font-size: 18px;
}
.p-Home.Input70 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 0040px;
}
.p-Home.TextBox436 {
font-size: 18px;
}
.p-Home.Input71 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 16px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 40px;
}
.p-Home.TextBox437 {
font-size: 18px;
}
.p-Home.TextBox27 {
margin-left: ;
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
color: #000000;
}
.p-Home.TextBox28 {
margin-left: ;
width: 438px;
height: 42px;
}
.p-Home.Image30 {
width: 30px;
height: 30px;
}
.p-Home.TextBox29 {
;
}
.p-Home.Image31 {
width: 30px;
height: 30px;
}
.p-Home.TextBox30 {
;
}
.p-Home.Image32 {
width: 30px;
height: 30px;
}
.p-Home.TextBox31 {
;
}
.p-Home.TextBox7 {
font-size: 32px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Button3 {
color: #ffffff;
background-color: #FF7629;
padding-top: 15px;
padding-left: 30px;
padding-bottom: 15px;
padding-right: 30px;
font-size: 18px;
border-radius: 35px;
outline: none;
font-weight: 500;
text-align: center;
border-width: ;
border-style: none;
border-color: ;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image10 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image11 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image192 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image193 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image194 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image195 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image23 {
width: 244px;
height: 33px;
}
.p-Home.TextBox26 {
margin-top: ;
color: #6a6868;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image25 {
width: 30px;
height: 30px;
}
.p-Home.Image168 {
width: 30px;
height: 30px;
}
.p-Home.Image169 {
width: 30px;
height: 30px;
}
.p-Home.Image170 {
width: 30px;
height: 30px;
}
.p-Home.Image171 {
width: 30px;
height: 30px;
}
.p-Home.TextBox17 {
margin-bottom: 25px;
font-size: 20px;
font-family: DM Sans;
font-weight: 500;
color: #000000;
}
.p-Home.TextBox18 {
;
}
.p-Home.TextBox19 {
;
}
.p-Home.TextBox20 {
;
}
.p-Home.TextBox21 {
;
}
.p-Home.TextBox22 {
;
}
.p-Home.TextBox23 {
;
}
.p-Home.TextBox24 {
;
}
.p-Home.TextBox9 {
margin-bottom: 25px;
font-size: 20px;
font-family: DM Sans;
font-weight: 500;
color: #000000;
}
.p-Home.TextBox10 {
;
}
.p-Home.TextBox11 {
;
}
.p-Home.TextBox12 {
;
}
.p-Home.TextBox13 {
;
}
.p-Home.TextBox14 {
;
}
.p-Home.TextBox15 {
;
}
.p-Home.TextBox16 {
;
}
.p-Home.TextBox8 {
font-size: 20px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image186 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image190 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image188 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image191 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image226 {
width: ;
height: ;
}
.p-Home.TextBox502 {
;
}
.p-Home.TextBox503 {
;
}
.p-Home.TextBox505 {
;
}
.p-Home.TextBox506 {
;
}
.p-Home.TextBox507 {
;
}
.p-Home.Button47 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
align-self: center;
font-family: DM Sans;
}
.p-Home.Button48 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
align-self: center;
font-family: DM Sans;
}
